PORT=4000
MONGODB_URL=YOUR_MONGODB_URL
DEFAULT_USER_AGENT=YOUR_DEFAULT_USER_AGENT
CLOUDINARY_CLOUD_NAME='********'
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
SECRET_ENCRYPTION_PASS=YOUR_ENCRYPTION_PASS"
SLASH_REPLACER_TEXT=YOUR_SLASH_REPLACER_TEXT
FRONT_END_SITE_URL="http://localhost:3000"